In [389]:
import pandas as pd
import re
attacks = pd.read_csv("input/attacks.csv",encoding='utf-8')

In [390]:
attacks['Country'].value_counts()

USA                         2229
AUSTRALIA                   1338
SOUTH AFRICA                 579
PAPUA NEW GUINEA             134
NEW ZEALAND                  128
                            ...
Between PORTUGAL & INDIA       1
THE BALKANS                    1
ANGOLA                         1
GABON                          1
SAN DOMINGO                    1
Name: Country, Length: 212, dtype: int64

In [454]:
attacks['Area Total']=attacks['Area'].groupby(attacks['Area']).transform('count').head()

In [455]:

def get_month(date):
    try:
        
        month = re.findall(r'jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec|summer|fall|', date, flags=re.IGNORECASE) 
        month =list(filter(None, month))
        if len(month):
            return month[0].lower()
        return None
    except TypeError:
        return None


attacks['Month']= attacks['Date'].map(get_month)


attacks[50:]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,href,Case Number.1,Case Number.2,original order,Unnamed: 22,,Area Total,Month,Season,Shark type
50,2018.01.13,13-Jan-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Martin Islet,Free diving,Callum Stewart,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.13,2018.01.13,6253.0,NaN,NaN,NaN,jan,northern_winter,white
51,2018.01.12,12-Jan-2018,2018.0,Unprovoked,BRAZIL,Fernando de Noronha,Conceicao Beach,Surfing,Ricardo Ferrari Bulhoes,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.12,2018.01.12,6252.0,NaN,NaN,NaN,jan,northern_winter,small
52,2018.01.05,05-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,Justin,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.05,2018.01.05,6251.0,NaN,NaN,NaN,jan,northern_winter,wobbegong
53,2017.12.31,31-Dec-2017,2017.0,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.31,2017.12.31,6250.0,NaN,NaN,NaN,dec,northern_winter,tiger
54,2017.12.30,30-Dec-2017,2017.0,Unprovoked,USA,California,"Drakes Estero, Point Reyes, Marin County",Surfing,Natalie Jones,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.30,2017.12.30,6249.0,NaN,NaN,NaN,dec,northern_winter,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN

In [456]:
def get_season(month):
    northern_summer = ['apr','may','jun','jul','aug','sep','summer']
    northern_winter = ['jan','feb','mar','oct','nov','dec', 'fall']

    if month in northern_summer:
        return 'northern_summer'
    if month in northern_winter:
        return 'northern_winter'
attacks['Season']= attacks['Month'].map(get_season)
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,href,Case Number.1,Case Number.2,original order,Unnamed: 22,,Area Total,Month,Season,Shark type
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,290.0,jun,northern_summer,white
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,14.0,jun,northern_summer,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,,298.0,jun,northern_summer,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,486.0,jun,northern_summer,2 m
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,4.0,jun,northern_summer,tiger
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN

In [457]:
USA_ATTACKS = attacks[attacks['Country']=='USA']

USA_ATTACKS_by_month = USA_ATTACKS.groupby('Month')['Area'].count()
USA_ATTACKS_by_month

Month
apr       157
aug       325
dec        64
fall        3
feb        57
jan        51
jul       358
jun       243
mar        97
may       155
nov       118
oct       206
sep       299
summer      5
Name: Area, dtype: int64

In [458]:
def fix_species_name(row):
    try:
        shark_type = re.search(r'^(.*) shark', row['Species '])
        if(shark_type):          
            return shark_type.group(1).lower()
    except TypeError as e:
        return row['Species ']
    return

In [459]:
attacks['Shark type']= attacks.apply(fix_species_name, axis='columns')

In [460]:
attacks.value_counts('Shark type').reset_index()

                          Shark type    0
0                              white  428
1                              tiger  233
2                               bull  125
3                      bronze whaler   56
4                              nurse   49
..                               ...  ...
745              8' great hammerhead    1
746  8' bull shark or caribbean reef    1
747                                8    1
748              76 cm [2.5'] carpet    1
749                          "gummy"    1

[750 rows x 2 columns]

In [461]:
def count_species(df):
        return df['Shark type'].value_counts()

In [462]:
USA_ATTACKS = attacks[attacks['Country']=='USA']
USA_ATTACKS

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,href,Case Number.1,Case Number.2,original order,Unnamed: 22,,Area Total,Month,Season,Shark type
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,290.0,jun,northern_summer,white
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,14.0,jun,northern_summer,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,,298.0,jun,northern_summer,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN,NaN,may,northern_summer,lemon
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN,NaN,may,northern_summer,bull
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6249,ND.0056,Before 1958,0.0,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Standing,Horton Chase,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0056,ND.0056,54.0,NaN,NaN,NaN,None,None,NaN
6283,ND.0019,Before 1921,0.0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0019,ND.0019,20.0,NaN,NaN,NaN,None,None,NaN
6288,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,NaN,jul,northern_summer,NaN
6292,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN,NaN,None,None,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN,NaN,None,None,NaN

In [463]:
attack_counts = USA_ATTACKS.groupby('Area').size().reset_index(name='counts').sort_values(by='counts',ascending=False)
attack_counts

                      Area  counts
9                  Florida    1037
13                  Hawaii     298
5               California     290
36          South Carolina     159
29          North Carolina     101
38                   Texas      73
24              New Jersey      52
26                New York      30
31                  Oregon      29
40                Virginia      19
34             Puerto Rico      16
20           Massachusetts      16
2                  Alabama      15
11                 Georgia      14
17               Louisiana      11
19                Maryland       7
7                 Delaware       7
35            Rhode Island       7
6              Connecticut       6
22             Mississippi       5
39       US Virgin Islands       5
27               New York        3
42              Washington       2
30         North Carolina        2
32           Palmyra Atoll       2
8               East coast       2
33            Pennsylvania       1
41             Wake Island       1
37         South Carolina        1
0               New Jersey       1
28  North & South Carolina       1
25              New Mexico       1
23                Missouri       1
1           North Carolina       1
18                   Maine       1
16                Kentucky       1
15          Johnston Atoll       1
14                Illinois       1
12                    Guam       1
10                Florida        1
4                     CUBA       1
3                   Alaska       1
21            Midway Atoll       1

In [465]:
 USA_ATTACKS.groupby(['Area','Season']).apply(count_species)

Area         Season
Alabama      northern_summer  bull             3
                              4' to 5'         1
                              tiger            1
             northern_winter  6', 100-lb       1
Alaska       northern_summer  salmon           1
                                              ..
Virginia     northern_summer  bull             1
                              dusky            1
                              sand             1
Wake Island  northern_winter  blacktip reef    1
Washington   northern_summer  white            2
Name: Shark type, Length: 550, dtype: int64

In [466]:
by_shark_type= USA_ATTACKS.groupby(['Area','Area Total']).apply(count_species).reset_index().sort_values(by=["Area Total",'Shark type'],ascending=False)
by_shark_type

         Area  Area Total level_2  Shark type
0  California       290.0   white           1

In [452]:
by_shark_type.groupby(['Area']).apply(lambda df: df.loc[df['Shark type'].idxmax()] )

0                 Area  Area Total level_2  Shark type
Area
California  California       290.0   white           1

In [449]:
by_shark_type.groupby(['Area']).apply(lambda df: df.loc[df['Shark type'].idxmax()] )

0                 Area  Area Total           Season level_3  Shark type
Area
California  California       290.0  northern_summer   white           1

In [209]:
by_shark_type['Shark type']

89     35
90     26
91     21
92     19
93     17
       ..
345     1
363     1
374     1
467     1
500     1
Name: Shark type, Length: 502, dtype: int64

In [12]:
def add_group(col):
    
    return col

In [55]:
 USA_ATTACKS.groupby('Area').agg([len])

,Case Number,Date,Year,Type,Country,Location,Activity,Name,Sex,Age,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,,Shark type
,len,len,len,len,len,len,len,len,len,len,...,len,len,len,len,len,len,len,len,len,len
Area,,,,,,,,,,,,,,,,,,,,,
New Jersey,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
North Carolina,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Alabama,15,15,15.0,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15.0,15,15,15
Alaska,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
CUBA,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
California,290,290,290.0,290,290,290,290,290,290,290,...,290,290,290,290,290,290,290.0,290,290,290
Connecticut,6,6,6.0,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6.0,6,6,6
Delaware,7,7,7.0,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7.0,7,7,7
East coast,2,2,2.0,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2.0,2,2,2
Florida,1037,1037,1037.0,1037,1037,1037,1037,1037,1037,1037,...,1037,1037,1037,1037,1037,1037,1037.0,1037,1037,1037
Florida,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Georgia,14,14,14.0,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14.0,14,14,14
Guam,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Hawaii,298,298,298.0,298,298,298,298,298,298,298,...,298,298,298,298,298,298,298.0,298,298,298
Illinois,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Johnston Atoll,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Kentucky,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Louisiana,11,11,11.0,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11.0,11,11,11
Maine,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Maryland,7,7,7.0,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7.0,7,7,7
Massachusetts,16,16,16.0,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16.0,16,16,16
Midway Atoll,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Mississippi,5,5,5.0,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5.0,5,5,5
Missouri,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
New Jersey,52,52,52.0,52,52,52,52,52,52,52,...,52,52,52,52,52,52,52.0,52,52,52
New Mexico,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
New York,30,30,30.0,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30.0,30,30,30
New York,3,3,3.0,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3.0,3,3,3
North & South Carolina,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
North Carolina,101,101,101.0,101,101,101,101,101,101,101,...,101,101,101,101,101,101,101.0,101,101,101
North Carolina,2,2,2.0,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2.0,2,2,2
Oregon,29,29,29.0,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29.0,29,29,29
Palmyra Atoll,2,2,2.0,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2.0,2,2,2
Pennsylvania,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Puerto Rico,16,16,16.0,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16.0,16,16,16
Rhode Island,7,7,7.0,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7.0,7,7,7
South Carolina,159,159,159.0,159,159,159,159,159,159,159,...,159,159,159,159,159,159,159.0,159,159,159
South Carolina,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Texas,73,73,73.0,73,73,73,73,73,73,73,...,73,73,73,73,73,73,73.0,73,73,73
US Virgin Islands,5,5,5.0,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5.0,5,5,5
Virginia,19,19,19.0,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19.0,19,19,19
Wake Island,1,1,1.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1.0,1,1,1
Washington,2,2,2.0,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2.0,2,2,2