In [539]:
import pandas as pd
import re
attacks = pd.read_csv("input/attacks.csv",encoding='utf-8')

In [541]:
attacks['Country'].value_counts().head(30)

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
PHILIPPINES           61
REUNION               60
NEW CALEDONIA         53
CUBA                  46
MOZAMBIQUE            45
SPAIN                 44
INDIA                 40
EGYPT                 38
JAPAN                 34
CROATIA               34
PANAMA                32
SOLOMON ISLANDS       30
IRAN                  29
JAMAICA               27
FRENCH POLYNESIA      25
GREECE                25
HONG KONG             24
INDONESIA             23
ENGLAND               23
COSTA RICA            17
Name: Country, dtype: int64

In [513]:
attacks['Area Total']=attacks['Area'].groupby(attacks['Area']).transform('count')

In [542]:

def get_month(date):
    try:
        
        month = re.findall(r'jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec|summer|fall|', date, flags=re.IGNORECASE) 
        month =list(filter(None, month))
        if len(month):
            return month[0].lower()
        return None
    except TypeError:
        return None


attacks['Month']= attacks['Date'].map(get_month)

In [544]:
def get_season(month):
    northern_summer = ['apr','may','jun','jul','aug','sep','summer']
    northern_winter = ['jan','feb','mar','oct','nov','dec', 'fall']

    if month in northern_summer:
        return 'northern_summer'
    if month in northern_winter:
        return 'northern_winter'
    
attacks['Season']= attacks['Month'].map(get_season)

In [548]:
def get_data_by_country(df,country):
    return df[df['Country']==country]

In [552]:

attacks_by_country = get_data_by_country(attacks,'USA')

attacks_by_country = attacks_by_country.groupby('Month')['Area'].count()
attacks_by_country

Month
apr       157
aug       325
dec        64
fall        3
feb        57
jan        51
jul       358
jun       243
mar        97
may       155
nov       118
oct       206
sep       299
summer      5
Name: Area, dtype: int64

In [538]:
USA_ATTACKS.groupby('Season').count()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,,Area Total,Month
Season,,,,,,,,,,,,,,,,,,,,,
northern_summer,11,11,11,11,11,8,11,10,8,10,...,11,11,11,11,11,11,0,0,8,11
northern_winter,9,9,9,9,9,9,9,8,7,6,...,9,9,9,9,9,9,0,0,9,9

In [534]:
def fix_species_name(row):
    try:
        shark_type = re.search(r'^(.*) shark', row['Species '])
        if(shark_type):          
            return shark_type.group(1).lower()
    except TypeError as e:
        return row['Species ']
    return

In [472]:
attacks['Shark type']= attacks.apply(fix_species_name, axis='columns')

In [473]:
attacks.value_counts('Shark type').reset_index()

                          Shark type    0
0                              white  428
1                              tiger  233
2                               bull  125
3                      bronze whaler   56
4                              nurse   49
..                               ...  ...
745              8' great hammerhead    1
746  8' bull shark or caribbean reef    1
747                                8    1
748              76 cm [2.5'] carpet    1
749                          "gummy"    1

[750 rows x 2 columns]

In [474]:
def count_species(df):
        return df['Shark type'].value_counts()

In [502]:
USA_ATTACKS

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,href,Case Number.1,Case Number.2,original order,Unnamed: 22,,Area Total,Month,Season,Shark type
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.12,2018.05.12,6288.0,NaN,NaN,160.0,may,northern_summer,NaN
24,2018.04.22,22-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.22,2018.04.22,6279.0,NaN,NaN,195.0,apr,northern_summer,white
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.02,2018.04.03,6269.0,NaN,NaN,160.0,apr,northern_summer,white
39,2018.02.24,24-Feb-2018,2018.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Scuba Diving,Elton Polly,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.02.24,2018.02.24,6264.0,NaN,NaN,213.0,feb,northern_winter,blacktip
76,2017.10.01,01-Oct-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Dyer Island,Scuba Diving,Bradley Fick,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.01,2017.10.01,6227.0,NaN,NaN,195.0,oct,northern_winter,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6281,ND.0021,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0021,ND.0021,22.0,NaN,NaN,213.0,None,None,NaN
6285,ND.0017,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0017,ND.0017,18.0,NaN,NaN,213.0,None,None,NaN
6286,ND.0016,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0016,ND.0016,17.0,NaN,NaN,213.0,None,None,NaN
6289,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,213.0,jul,northern_summer,NaN
6290,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,213.0,jul,northern_summer,NaN

In [503]:
attack_counts = USA_ATTACKS.groupby('Area').size().reset_index(name='counts').sort_values(by='counts',ascending=False)
attack_counts

                                                Area  counts
3                                      KwaZulu-Natal     213
7                              Western Cape Province     195
1                              Eastern Cape Province     160
0                             Eastern Cape  Province       1
2                                   Eastern Province       1
4  KwaZulu-Natal between Port Edward and Port St ...       1
5                               South Atlantic Ocean       1
6                                          Transvaal       1
8                                   Western Province       1

In [504]:
 USA_ATTACKS.groupby(['Area','Season']).apply(count_species)

Area                   Season
Eastern Cape Province  northern_summer  white                                                  11
                                        raggedtooth                                             6
                                        4 m [13'] white                                         3
                                        2.4 m [8'] white                                        2
                                        2.5 m [8.25'] white                                     2
                                                                                               ..
Western Cape Province  northern_winter  mako                                                    1
                                        1.5 m [5']                                              1
                                        1.5 m to 1.8 m [5' to 6']                               1
                                        3.5 m [11.5'], 510-kg [1125-lb] hooked & shot white     1
Western Province       northern_winter  white                                                   1
Name: Shark type, Length: 174, dtype: int64

In [505]:
by_shark_type= USA_ATTACKS.groupby(['Area','Area Total','Season']).apply(count_species).reset_index().sort_values(by=["Area Total",'Shark type'],ascending=False)
by_shark_type

,Area,Area Total,Season,level_3,Shark type
63,KwaZulu-Natal,213.0,northern_winter,white,15
64,KwaZulu-Natal,213.0,northern_winter,zambesi,7
65,KwaZulu-Natal,213.0,northern_winter,raggedtooth,5
49,KwaZulu-Natal,213.0,northern_summer,white,4
66,KwaZulu-Natal,213.0,northern_winter,tiger,4
...,...,...,...,...,...
47,Eastern Cape Province,160.0,northern_winter,"2.1 m [7'], 90-kg",1
48,Eastern Cape Province,160.0,northern_winter,1.5 m to 2 m [5' to 6.75'],1
173,Western Province,5.0,northern_winter,white,1
109,KwaZulu-Natal between Port Edward and Port St ...,1.0,northern_summer,1.5 to 2.5 m [5' to 8.25'] copper,1
110,Transvaal,1.0,northern_summer,sandtiger,1

In [506]:
by_shark_type.groupby(['Area','Season']).apply(lambda df: df.loc[df['Shark type'].idxmax()] )

                                                                                                                 Area  \
Area                                               Season
Eastern Cape Province                              northern_summer                              Eastern Cape Province
                                                   northern_winter                              Eastern Cape Province
KwaZulu-Natal                                      northern_summer                                      KwaZulu-Natal
                                                   northern_winter                                      KwaZulu-Natal
KwaZulu-Natal between Port Edward and Port St J... northern_summer  KwaZulu-Natal between Port Edward and Port St ...
Transvaal                                          northern_summer                                          Transvaal
Western Cape Province                              northern_summer                              Western Cape Province
                                                   northern_winter                              Western Cape Province
Western Province                                   northern_winter                                   Western Province

                                                                    Area Total  \
Area                                               Season
Eastern Cape Province                              northern_summer       160.0
                                                   northern_winter       160.0
KwaZulu-Natal                                      northern_summer       213.0
                                                   northern_winter       213.0
KwaZulu-Natal between Port Edward and Port St J... northern_summer         1.0
Transvaal                                          northern_summer         1.0
Western Cape Province                              northern_summer       195.0
                                                   northern_winter       195.0
Western Province                                   northern_winter         5.0

                                                                             Season  \
Area                                               Season
Eastern Cape Province                              northern_summer  northern_summer
                                                   northern_winter  northern_winter
KwaZulu-Natal                                      northern_summer  northern_summer
                                                   northern_winter  northern_winter
KwaZulu-Natal between Port Edward and Port St J... northern_summer  northern_summer
Transvaal                                          northern_summer  northern_summer
Western Cape Province                              northern_summer  northern_summer
                                                   northern_winter  northern_winter
Western Province                                   northern_winter  northern_winter

                                                                                              level_3  \
Area                                               Season
Eastern Cape Province                              northern_summer                              white
                                                   northern_winter                        raggedtooth
KwaZulu-Natal                                      northern_summer                              white
                                                   northern_winter                              white
KwaZulu-Natal between Port Edward and Port St J... northern_summer  1.5 to 2.5 m [5' to 8.25'] copper
Transvaal                                          northern_summer                          sandtiger
Western Cape Province                              northern_summer                              white
                                                   northern_winter                              white
Western Province                                   northern_winter                              white

                                                                    Shark type
Area                                               Season
Eastern Cape Province                              northern_summer          11
                                                   northern_winter          18
KwaZulu-Natal                                      northern_summer           4
                                                   northern_winter          15
KwaZulu-Natal between Port Edward and Port St J... northern_summer           1
Transvaal                                          northern_summer           1
Western Cape Province                              northern_summer          38
                                                   northern_winter          36
Western Province                                   northern_winter           1

In [500]:
by_shark_type.groupby(['Area']).apply(lambda df: df.loc[df['Shark type'].idxmax()] )

,Area,Area Total,Season,level_3,Shark type
Area,,,,,
New South Wales,New South Wales,486.0,northern_winter,white,23
Northern Territory,Northern Territory,23.0,northern_summer,2 m [6.75'] copper,1
Queensland,Queensland,311.0,northern_winter,bull,11
Queensland,Queensland,1.0,northern_winter,tiger,1
South Australia,South Australia,104.0,northern_winter,white,14
Tasmania,Tasmania,41.0,northern_summer,white,4
Territory of Cocos (Keeling) Islands,Territory of Cocos (Keeling) Islands,1.0,northern_summer,bronze whaler,1
Torres Strait,Torres Strait,70.0,northern_summer,tiger,3
Torres Strait,Torres Strait,2.0,northern_summer,tiger,1
Victoria,Victoria,90.0,northern_winter,white,7
Victoria,Victoria,2.0,northern_winter,white,1
Westerm Australia,Westerm Australia,3.0,northern_summer,white,1
Western Australia,Western Australia,189.0,northern_winter,white,16